@use "../../App.scss" as *;

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;

  h1 {
    font-size: 70px;
    font-family: Tahoma, sans-serif;
    color: rgba(154, 24, 210, 0.91);
    ;

    @include mobile {
      font-size: 56px;
      text-align: center;
    }
  }

  .mountain {
    background-image: url("/WebDevelopment-Portfolio/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-image: url("/WebDevelopment-Portfolio/planets.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .stars {
    background-image: url("/WebDevelopment-Portfolio/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
