@use "../../App.scss" as *;

.navbar {
  height: 100px;
  .wrapper {
    position : relative;
    left : 150px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    // untuk memisahkan nama dan logo
    justify-content: space-between;
    // background-color: #663399;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 30px;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }
    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      position: relative; 
      right : 150px;

      .social-links,
      .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .social-btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        font-family: "Titillium Web", sans-serif;
        color: #333;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        background: white;
        margin: 5px;
        transition: 0.3s;
        justify-content: center;
      }

      .social-btn svg {
        height: 24px;
        width: 24px;
      }

      .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: 0.3s;
        text-align: center;
        margin-left: 5px;
        font-size: 16px;
        font-family : 'Lucida Console', Monaco, monospace;
        font-weight: bold;
      }

      .social-btn:hover {
        width: 150px;
        border-radius: 5px;
      }

      .social-btn:hover span {
        padding: 2px;
        width: 80px;
      }

      #twitter svg {
        fill: #1da1f2;
      }

      #linkedin svg {
        fill: #0e76a8;
      }

      #github {
        fill: #333;
      }

      #instagram {
        fill: #e1306c;
      }
    }
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  background: linear-gradient(90deg, #ff00ff, #00ffff, #ff9900);
  background-size: 300%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff9900;
  transition: all 0.3s ease-in-out;
  animation: neonGlow 3s infinite alternate;
}

button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

button:hover {
  background-position: 100%;
  box-shadow: 0 0 20px #ff00ff, 0 0 30px #00ffff, 0 0 40px #ff9900;
}

button:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

button:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

@keyframes neonGlow {
  0% {
    background-position: 0%;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff9900;
  }
  100% {
    background-position: 100%;
    box-shadow: 0 0 20px #ff00ff, 0 0 30px #00ffff, 0 0 40px #ff9900;
  }
}
